[project]
	description = test
[access "refs/*"]
	owner = group user/dnaori (dnaori)
[access "refs/for/refs/*"]
	read = group user/dnaori (dnaori)
	push = group user/dnaori (dnaori)
	label-Code-Review = -2..+2 group user/dnaori (dnaori)
	label-Verified = -1..+1 group user/dnaori (dnaori)
	rebase = group user/dnaori (dnaori)
	removeReviewer = group user/dnaori (dnaori)
	submit = group user/dnaori (dnaori)
[access "refs/heads/*"]
	read = group user/dnaori (dnaori)
	create = group user/dnaori (dnaori)
	push = +force group user/dnaori (dnaori)
	pushMerge = group user/dnaori (dnaori)
[access "refs/tags/*"]
	push = +force group user/dnaori (dnaori)
	pushTag = group user/dnaori (dnaori)
	pushSignedTag = group user/dnaori (dnaori)
[receive]
	requireChangeId = true
[submit]
	action = merge always
